[submodule "vim/plugin/bundle/vim-sensible"]
	path = vim/plugin/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "vim/plugin/bundle/a.vim"]
	path = vim/plugin/bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "vim/plugin/bundle/DoxygenToolkit.vim"]
	path = vim/plugin/bundle/DoxygenToolkit.vim
	url = https://github.com/vim-scripts/DoxygenToolkit.vim.git
[submodule "vim/plugin/bundle/grep.vim"]
	path = vim/plugin/bundle/grep.vim
	url = https://github.com/vim-scripts/grep.vim.git
[submodule "vim/plugin/bundle/minibufexpl.vim"]
	path = vim/plugin/bundle/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "vim/plugin/bundle/neocomplcache.vim"]
	path = vim/plugin/bundle/neocomplcache.vim
	url = https://github.com/Shougo/neocomplcache.vim.git
